body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

/* main */
canvas {
  border: 1px solid #000000;
}

/* path length */
#path_length{
  text-align: center;
}

/* controls */
.btns{
  margin: 5px;
}
#standard {
  color: grey;
}
#exact {
  color: green;
}
#random {
  color: blue;
  color: royalblue;
}
